alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias g="git"
alias v="vim"

# Detect which `ls` flavor is in use
if gls --color > /dev/null 2>&1; then # GNU `ls`
    colorflag="--color"
else # OS X `ls`
    colorflag="-G"
fi

alias l="ls -l ${colorflag}"
alias ll="ls -lh ${colorflag}"
alias la="ls -la ${colorflag}"
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias pubkey="more ~/.ssh/id_rsa.pub | pbcopy | printf '=> Public key copied to clipboard.\n'"
alias gc='git checkout'
alias gcm='git checkout master'
alias gco='git commit'
alias gst='git status'
alias undogpush="git push -f origin HEAD^:master"
alias php-fix="vendor/bin/php-cs-fixer fix"
